body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 100px;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.help_window {
    width: 400px;
    margin-top: 50px;
}

.back_button {
    font-size: 22px;
    color: #cf6c89;
    cursor: pointer;
    padding-left: 15px;
}

.plot {
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    padding-left: 15px;
}

.help_general {
    margin: 0 auto;
    width: 100%;
}

.help_links {
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.3s;
}

.help_link {
    color: gray;
    transition: 0.3s;
    font-size: 25px;
    margin: 0 auto;
    width: 100%;
    display: block;
    cursor: pointer;
}

.help_links:hover {
    background-color: rgba(228, 228, 228, 0.459);
    border-radius: 30px;
}

.link_arrow {
    font-size: 35px;
    color: gray;
    transition: 0.3s;
}

.wrapper {
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}

.spoiler_body p {
    margin-top: 20px;
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
}

.spoiler_body li {
    padding-left: 15px;
    padding-right: 15px;
}

.spoiler_open {
    height: 75px;
}

.email_button {
    width: 100%;
    height: 60px;
    margin-top: 40px;
    border: none;
    color: white;
    background-color: #cf6c89;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(180deg, #CF6C89 0%, #A36CCF 100%);
}

.email_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    -moz-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
}

.call_button {
    width: 100%;
    height: 60px;
    margin-top: 40px;
    border: none;
    color: rgb(102, 101, 101);
    background-color: rgb(226, 221, 221);
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
}

.contact_body {
    text-align: center;
    font-weight: 300;
    color: gray;
    margin-top: 10px;
}

.footer {
    margin-top: 50px;
    opacity: 0.6;
}

.spoiler_body {
    color: gray;
    margin-top: 40px;
}

.features_window {
    margin: 0 auto;
    width: 600px;
    margin-left: 100px;
    margin-top: 120px;
}

.features_window_close {
    display: none;
}

.member_window_close {
    display: none;
}

.member_window {
    top: 0;
    margin-top: 120px;
    margin: 0 auto;
    width: 600px;
    margin-left: 100px;
    margin-top: 120px;
}

.features_link {
    color: gray;
}

.features_link_arrow {
    transition: 0.5s;
    font-size: 20px;
    color: gray;
}

.arrow_rotate {
    transform: rotate(90deg);
    transition: 0.5s;
}

.features_links {
    width: 400px;
}

.container_page {
    width: 750px;
    margin: 0 auto;
}

.container_member {
    width: 750px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
}

.container_contact {
    margin-left: 200px;
}

@media (max-width:980px) {
    .container {
        width: 400px;
        margin: 0 auto;
    }
    .container_page {
        width: 100%;
        margin: 0 auto;
    }
    .spoiler_open {
        height: 84px;
    }
    .spoiler_body p {
        width: 88%;
    }
    .features_links {
        width: 525px;
    }
    .container_member {
        width: 90%;
    }
    .page_adaptive {
        display: none;
    }
    .container_contact {
        margin: 0 auto;
    }
}

@media (max-width:700px) {
    .container {
        width: 400px;
        margin: 0 auto;
    }
    .container_page {
        margin: 0 auto;
    }
    .plot {
        text-align: start;
        font-size: 35px;
    }
    .help_window {
        width: 100%;
    }
    .help_link {
        font-size: 25px;
    }
    .link_arrow {
        font-size: 25px;
    }
    .spoiler_open {
        height: 93px;
    }
    .footer_body {
        width: 360px;
    }
    .member_window {
        margin-left: 0;
    }
}

@media (max-width:640px) {
    .footer li {
        width: 400px;
    }
    .features_links {
        font-size: 25px;
    }
    .spoiler_open {
        height: 114px;
    }
    .back_button_page {
        padding-left: 117px;
    }
    .spoiler_body p {
        width: 88%;
        font-size: 25px;
    }
    .spoiler_body {
        margin-top: 60px;
    }
    .member_window {
        margin-top: 50px;
    }
    .features_window {
        margin-top: 0px;
    }
}

@media (max-width:400px) {
    .container {
        width: 100%;
    }
    .plot_page {
        font-size: 25px!important;
    }
    .spoiler_open {
        height: 112px;
    }
    .spoiler_body p {
        margin-top: 50px;
        font-size: 16px;
        width: 92%;
    }
    .container_page {
        margin: 0 auto;
        width: 95%;
        margin-left: -85px;
    }
    .back_button {
        font-size: 16px;
    }
    .features_links {
        width: 329px;
        font-size: 17px;
    }
    .features_window_page {
        width: 100%;
    }
    .features_link {
        font-size: 17px;
    }
    .spoiler_body {
        margin-top: 5px;
    }
    .spoiler_body a {
        font-size: 14px;
    }
    .help_window_contact {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .help_window {
        width: 370px;
    }
    .help_general {
        width: 368px;
    }
    .container_member {
        width: 95%;
    }
}

@media (max-width:380px) {
    .footer_body {
        width: 327px;
    }
    .footer li {
        width: 350px;
    }
    .features_window_page {
        margin-top: 0;
    }
}